<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JayStorm - JayData FaceBook App Example</title>

    <script type="text/javascript">
        /*login*/
        if ('<%= login %>' === 'true') {
            top.location.href = 'https://www.facebook.com/dialog/oauth?client_id=<%= clientId %>&redirect_uri=https://apps.facebook.com/<%= appName %>&scope=<%= scope %>';
        }
    </script>

    <script src="<%= files %>/Scripts/handlebars.min.js"></script>
    <script src="<%= files %>/Scripts/jquery.min.js"></script>
    <script src="<%= files %>/Scripts/datajs-1.0.3-patched.js"></script>

    <script src="<%= files %>/Scripts/jaydata.js"></script>
    <script src="<%= files %>/Scripts/jaydataproviders/FacebookProvider.js"></script>
    <style type="text/css">
        #storedUsers, #fbFriends, #storedVisitors {
            height: 300px;
            overflow: auto;
        }

            #storedUsers div, #fbFriends div, #storedVisitors div {
                float: left;
            }
    </style>
</head>
<body>
    <div>
        <h1 id="wellcome"></h1>
        <div style="float: left; width: 50%;">
            <h2>Facebook Friends</h2>
            <div id="fbFriends">Loading...</div>
        </div>
        <div style="float: left; width: 50%;">
            <h2>Localstored Users</h2>
            <div id="storedUsers">Loading...</div>
        </div>
        <div style="width: 100%; overflow: hidden;">
            <h2>Last Visitors</h2>
            <div id="storedVisitors"></div>
        </div>
    </div>

    <script id="visitor-template" type="text/x-handlebars-template">
        <div>
            <img data-uid="{{uid}}" src="{{pic_small_with_logo}}" style="float:left;height: 35px; width:35px;" />
            <ul>
                <li style="list-style: none;"><a target="_blank" href="{{profile_url}}" >{{name}}</a></li>
                <li style="list-style: none;">friends avarage age: {{avg_age}}</li>
            </ul>
        </div>
    </script>
    <script id="fbuser-template" type="text/x-handlebars-template">
        {{#each this}}
            <div>
                <img data-uid="{{uid}}" src="{{pic_small_with_logo}}" style="float:left;height: 35px; width:35px;" />
                <ul>
                    <li style="list-style: none;"><a target="_blank" href="{{profile_url}}" >{{name}}</a></li>
                    <li style="list-style: none;">Friends count: {{friend_count}}</li>
                </ul>
            </div>
        {{/each}}
        {{#if more}}
            <div style="width: 100%; overflow: hidden;">Loading more...</div>
        {{/if}}
    </script>
    <script id="localuser-template" type="text/x-handlebars-template">
        {{#each this}}
            <div>
                <img data-uid="{{uid}}" src="{{pic_small_with_logo}}" style="float:left;height: 35px; width:35px;" />
                <ul>
                    <li style="list-style: none;"><a target="_blank" href="{{profile_url}}" >{{name}}</a></li>
                    <li style="list-style: none;">Stored: {{storedDate this}}</li>
                </ul>
            </div>
        {{/each}}
    </script>

    <script type="text/javascript">
        /* local Model */
        $data.Entity.extend('$FBApp.User', {
            uid: { type: 'int', key: true },
            name: { type: 'string' },
            profile_url: { type: 'string' },
            pic_small_with_logo: { type: 'string' },
            avg_age: { type: 'int' },
            store_date: { type: 'date' }
        });

        $data.EntityContext.extend('$FBApp.Context', {
            Users: { type: $data.EntitySet, elementType: $FBApp.User }
        });

        window.fbAsyncInit = function () {
            FB.init({
                appId: '<%= clientId %>', /* App ID */
                status: true, /* check login status */
                cookie: true, /* enable cookies to allow the server to access the session */
                xfbml: true  /* parse XFBML */
            });
            var currentUser = $.Deferred();
            var allFriends = $.Deferred();

            FB.getLoginStatus(function (resp) {
                var fbContext = new $data.Facebook.FQLContext({ name: 'Facebook', Access_Token: resp.authResponse.accessToken });
                fbContext.onReady(function () {
                    var mePromise = fbContext.Users.single(function (u) { return u.uid == this.me }, { me: $data.Facebook.FQLCommands.me }, function (me) {
                        $('#wellcome').html('Dear ' + me.name);
                        currentUser.resolve(me);
                    });

                    var friendPromise = fbContext.MyFriends.take(10).toArray(function (friends) {
                        friends.more = true;
                        $('#fbFriends').html(fbuserTemplate(friends));
                        addAction(localContext, friends);
                    });

                    $.when(mePromise, friendPromise, localContextReady).then(function (me, initFriends) {
                        fbContext.MyFriends.toArray(function (friends) {
                            $('#fbFriends').html(fbuserTemplate(friends));
                            addAction(localContext, friends);
                            allFriends.resolve(friends);
                        });
                    })
                });
            });


            var localContext = new $FBApp.Context({ name: 'LocalStore' });
            var localContextReady = localContext.onReady(function () {
                localContext.Users.order('-store_date').toArray(function (storedFriends) {
                    $('#storedUsers').html(localuserTemplate(storedFriends));
                    removeAction(localContext);
                });
            });

            var JayStormLogin = {
                appId: '<%= stormAppId %>',
                serviceName: '<%= serviceName %>',
                license: 'business'
            }

            $data.service(JayStormLogin, function (contextFactory) {
                var oDataContext = contextFactory();
                oDataContext.onReady(function () {
                    oDataContext.Users.order('store_date').toArray(function (res) {
                        res.forEach(function (visitor) {
                            $('#storedVisitors').prepend(visitorTemplate(visitor));
                        });
                    });

                    $.when(currentUser.promise(), allFriends.promise()).then(function (me, friends) {
                        oDataContext.Users.filter(function (u) { return u.uid == this.me_uid }, { me_uid: me.uid }).length(function (count) {
                            if (count === 0) {
                                var visitor = new oDataContext.Users.elementType({
                                    uid: me.uid,
                                    name: me.name,
                                    profile_url: me.profile_url,
                                    pic_small_with_logo: me.pic_small_with_logo,
                                    store_date: new Date()
                                });

                                var allAge = 0;
                                var cnt = 0;
                                friends.forEach(function (friend) {
                                    if (friend.birthday_date) {
                                        allAge += new Date().getFullYear() - new Date(friend.birthday_date).getFullYear();
                                        cnt++;
                                    }
                                })
                                visitor.avg_age = Math.round((allAge * 100) / cnt) / 100;

                                oDataContext.Users.add(visitor);
                                oDataContext.saveChanges();
                                $('#storedVisitors').prepend(visitorTemplate(visitor));
                            }
                        });
                    });
                });
            });


            function addAction(ctx, data) {
                $('#fbFriends img').click(function () {
                    var self = this;
                    var user = data.filter(function (item) { return item.uid === $(self).data('uid'); })[0];
                    ctx.Users.filter(function (u) { return u.uid == this.uid }, { uid: user.uid }).length(function (count) {
                        if (count === 0) {
                            var storedUser = new $FBApp.User({
                                uid: user.uid,
                                name: user.name,
                                profile_url: user.profile_url,
                                pic_small_with_logo: user.pic_small_with_logo,
                                store_date: new Date()
                            });
                            ctx.Users.add(storedUser);
                            ctx.saveChanges();
                            $('#storedUsers').prepend(localuserTemplate([storedUser]));
                        }
                    });
                });
            };
            function removeAction(ctx) {
                $('#storedUsers img').live('click', function () {
                    var self = this;
                    var userId = $(self).data('uid');
                    if (userId) {
                        ctx.Users.remove({ uid: userId });
                        ctx.saveChanges();
                        $(self).parent().remove();
                    }
                });
            };
        };

        Handlebars.registerHelper('storedDate', function (user) {
            return user.store_date.toLocaleDateString() + ' ' + user.store_date.toLocaleTimeString();
        });

        var visitorSource = $("#visitor-template").html();
        var visitorTemplate = Handlebars.compile(visitorSource);

        var fbuserSource = $("#fbuser-template").html();
        var fbuserTemplate = Handlebars.compile(fbuserSource);

        var localuserSource = $("#localuser-template").html();
        var localuserTemplate = Handlebars.compile(localuserSource);

        /* Load the SDK Asynchronously */
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
</body>
</html>
